<h1 class="animated fadeIn fast">SOBRE COMIC APP</h1>

<p class="animated fadeIn fast">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur deleniti aliquid illum adipisci ipsam molestiae. Dolorem tempora dicta exercitationem dolor error neque quas magni ratione nostrum, numquam eligendi cumque. Corporis! Tempore praesentium
  voluptas doloribus cumque vero voluptatum eum culpa, accusamus, molestias, dicta quos! Exercitationem praesentium earum fuga libero natus est laudantium tenetur aliquid fugit, vitae numquam vero perspiciatis, omnis reprehenderit? Tempore explicabo ipsa
  doloribus praesentium suscipit consectetur sequi nam itaque voluptate minima tenetur beatae porro asperiores aspernatur, nemo eaque perferendis quidem, sapiente voluptatem omnis aliquam, velit perspiciatis. Ipsam, neque mollitia? A corporis veniam culpa
  incidunt qui at suscipit soluta quam, aliquid aperiam voluptas accusamus assumenda sit excepturi quasi ipsam similique in amet dolorem! Maiores quia dolorum, omnis quos expedita magni? Ratione, corrupti laborum neque asperiores accusantium, accusamus
  corporis iste excepturi exercitationem delectus culpa laboriosam provident eaque voluptatem cumque ex tempora quia soluta? Optio obcaecati fugit necessitatibus quam magnam nisi commodi?
</p>
