<h1 class="animated fadeIn">{{pelicula.title | uppercase}}, <small>Fecha de estreno {{ pelicula.release_date | date }}</small></h1>
<hr>
<div class="row animated fadeIn fast">

  <div class="col-md-4">
    <img class="img-fluid" src="http://image.tmdb.org/t/p/w400/{{pelicula.poster_path}}" [alt]="">
    <br><br>
    <a [routerLink]="['/home']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>

  <br>

  <div class="col-md-8">
    <h3>Categorias: </h3>
    <app-categorias [listCategorias]="pelicula.genres"></app-categorias>
    <hr>
    <p>{{pelicula.overview}}</p>

    <hr>
    <h4>Compañias productoras</h4>
    <hr>
    <img *ngFor="let company of pelicula.production_companies ;let i = index" src="http://image.tmdb.org/t/p/w300/{{company.logo_path}}" class="rounded float-right" alt="...">
  </div>

</div>
