<div class="card-columns">
  <div class="card" *ngFor="let movie of results">
    <img class="card-img-top" src="http://image.tmdb.org/t/p/w200/{{movie.poster_path}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{movie.original_title}}</h5>
      <p class="card-text">{{movie.overview}}</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-outline-primary btn-block" (click)="verPelicula(movie.id)">
        Ver mas...
      </button>
    </div>
  </div>
</div>
