/* You can add global styles to this file, and also import other style files */

body {
  background-color: black;
}

.navbar-custom {
  color: white;
  background-color: black;
  margin-bottom: 20px;
}

.separate {
  margin-left: 5px;
}
